body {
  font-family: Inter, Arial, sans-serif;
  color: #444;
  background-color: #f8f8ff;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 4px;
}

h3 {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

.about {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #444;
}

.get-properties,
.get-property,
.get-reviews,
.post-review,
.delete-review {
  padding: 40px 0;
  border-bottom: 1px solid #444;
}

.site-information {
  padding-top: 20px;
  padding-bottom: 20px;
}

.method,
.status-success,
.status-error {
  border-radius: 4px;
  padding: 4px 12px;
}
.method {
  color: #f8f8ff;
  background-color: #6c63ff;
}

.status-codes {
  list-style: none;
}

.status-success {
  color: #f8f8ff;
  background-color: #4caf50;
}

.status-error {
  color: #f8f8ff;
  background-color: #e53935;
}
