body {
  font-family: Inter, Arial, sans-serif;
  color: #444;
  background-color: #f8f8ff;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 4px;
}

h3 {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

.method {
  color: #f8f8ff;
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 4px 12px;
}
